<header class="main-header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">LIPPIS</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/classic" routerLinkActive="active">Classic</a></li>
        <li><a routerLink="/snapback" routerLinkActive="active">Snapbacks</a></li>
        <li><a routerLink="/truck" routerLinkActive="active">Truckers</a></li>
        <li><a routerLink="/favourites" routerLinkActive="active">Favourites</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="router">
  <router-outlet></router-outlet>
</div>